.estilo-test {
  border: 10px solid red;
}

/*--------------------------------------------------------------
## Top Bar
--------------------------------------------------------------*/
.header-topbar {
  padding: 7px 0px;
  border-bottom: 1px solid transparent;
  background: #141d38;
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 600;
}
.header-topbar a {
  color: #b5b5b5;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.header-topbar a:hover {
  color: #43baff;
}

.social-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 25px;
}
.social-list li {
  display: inline-block;
  margin: 0px 8px;
}
.social-list li:last-child {
  margin-right: 0px;
}
.social-list li a {
  display: inline-block;
  padding: 0px 3px;
}
.social-list li a i {
  font-size: 12px;
  font-weight: 400;
}

.topbar-info {
  list-style: none;
  padding: 0px;
  margin: 0px;
  float: left;
}
.topbar-info li {
  padding: 0px 20px;
  float: left;
}
.topbar-info li:first-child {
  padding-left: 0px;
}
.topbar-info li i {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #fff;
  margin-right: 7px;
  line-height: 1;
}

.topbar_languages {
  float: right;
  border-left: 1px solid #e5e5e5;
  margin-left: 30px;
  padding-left: 20px;
}
.topbar_languages select {
  background: transparent;
  border: 0px solid #f0f3fb;
  border-radius: 0px;
  padding: 0px 20px 0px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #a5b7d2;
  /* Here's the code we need */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.topbar_languages select:focus {
  outline: none;
}
.topbar_languages select::-ms-expand {
  display: none;
}
.topbar_languages select option {
  color: #a2b7d2;
}
.topbar_languages > div {
  position: relative;
}
.topbar_languages > div:after {
  position: absolute;
  top: 50%;
  right: 3px;
  margin-top: -6px;
  font-family: "Flaticon";
  content: "";
  font-size: 11px;
  line-height: 1;
  color: #a5b7d2;
  font-weight: 500;
  pointer-events: none;
}

.extra-text a {
  color: #43baff;
}
.extra-text a:hover {
  color: #fff;
}

/* style 2 */
.style-2 {
  padding: 0;
  line-height: 40px;
}
.style-2 .social-list {
  float: left;
  margin-left: 0;
}
.style-2 .social-list li {
  margin: 0;
}
.style-2 .social-list li a {
  display: block;
  padding: 0 14px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.style-2 .social-list li:last-child a {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.style-2 .topbar-info {
  float: right;
  margin-left: 20px;
}
.style-2 .topbar-info li {
  padding: 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.style-2 .topbar-info li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/* style 3 */
.header-style-3 .header-topbar {
  background: #fff;
  color: #666;
}
.header-style-3 .header-topbar a {
  color: #666;
}
.header-style-3 .header-topbar a:hover {
  color: #43baff;
}
.header-style-3 .header-topbar .topbar-info li i {
  color: #1b1d21;
}
.header-style-3 .header-topbar .extra-text a:hover {
  color: #1b1d21;
}

@media only screen and (max-width: 1199px) {
  .extra-text {
    display: none;
  }

  .social-list {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .mobile-topbar {
    line-height: 1.875;
    padding: 7px 0;
  }
  .mobile-topbar.header-topbar {
    display: block;
  }
  .mobile-topbar .social-list {
    float: none;
    clear: both;
    padding-top: 2px;
  }
  .mobile-topbar .social-list li a {
    border: none !important;
    padding: 0;
  }
  .mobile-topbar .social-list li:first-child {
    margin-left: 0;
  }
  .mobile-topbar .topbar-info {
    margin-left: 0;
    float: none;
  }
  .mobile-topbar .topbar-info li {
    border: none !important;
    padding-left: 0;
  }

  .style-2 .social-list li {
    margin: 0 8px;
  }
  .style-2 .social-list li:first-child a {
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .topbar-info li {
    float: none;
    padding-left: 0;
  }
}
